<div class="container1">
  <mat-card class="example-card" *ngIf="!otp_screen">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1 style="color: #495057;">Login</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" >
       <input type="text" placeholder="Enter your mobile number" required class="form-control login-input" formControlName="mobileNumber" #number>
      <button type="submit" class="arrow-icon btn btn-warning" title="Please enter your mobile number" [disabled]="!loginForm.valid"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
      <p *ngIf="error">Please enter valid mobile number</p>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" *ngIf="otp_screen">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1>Login</h1></mat-card-title>
    </mat-card-header>
    <form [formGroup]="otpForm" (ngSubmit)="validateOtp(otpForm.value)" >
      <input type="text" maxlength="4" placeholder="Enter your OTP" required minlength="4" class="form-control login-input" formControlName="otp" #number>
     <button type="submit" title="Please enter otp"  class="arrow-icon btn btn-warning" [disabled]="!otpForm.valid"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
     </form>
     <p *ngIf="error">Please enter valid otp</p>
  </mat-card>
</div>
