
<div *ngIf="addedItems.length === 0">
  <h3>Your Cart is Empty</h3>
  </div>
<div class="container-cart" *ngIf="addedItems.length > 0">
  <div style="display: flex; justify-content: center;">
  <h3 style="color: #fff;">Your cart items</h3></div>
  <div style="    display: flex;
  flex-direction: column;
  align-items: center;
">
  <div *ngFor="let items of addedItems" class="cart-card">
    <div style="display: flex;">
      <div style= "display:flex; width: 90%;">
      <img src={{items.ImageUrl}} width="150px" height="115px" style="border-radius: 20px;">
      <div style="display: flex; flex-direction: column; padding-left: 10px;  justify-content: space-between;">
    <h5 style=" padding-top: 10px;">{{items.Name}}</h5>
    <p class="card-desc">Lorem ipsum dolor sit amet consectetur.</p>
  </div>
  </div>
    <div style="width: 13%; display: flex; align-items: center;
    font-size: 20px;
    font-weight: bold;">
      <p><i class="fa fa-inr" aria-hidden="true"></i> {{items.totalprice}} </p>
    </div>
  </div>
  </div>
  <div>
    <h3 style="color:crimson">Total Price = <i class="fa fa-inr" aria-hidden="true"></i> {{totalPrice}}</h3>
  </div>
  <div>
    <button class="btn btn-primary">PLACE ORDER</button>
  </div>
</div>

</div>
