<mat-list>
  <div *ngIf="noMenu;else showMenu">
    <span style="color: red;">
      No Menu Added. Please contact Admin.
    </span>
  </div>
  <div #showMenu *ngFor="let item of menuItems" class="menu-card-list">
    <div class="card-list">
      <img src={{item.ImageUrl}} width="270px" height="160px">
      <div style="margin:12px; display: flex; justify-content: space-between; flex-direction: column;">
        <div style="display: flex;
        flex-direction: column;
        justify-content: space-around;">
          <h5>{{item.Name}}</h5>
          <p class="card-desc ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique</p>
          <div class="font-size"><i class="fa fa-inr" aria-hidden="true"></i>{{item.Amount}}</div>
        </div>
      </div>
      <div style="    width: 8%;
      display: flex;
      align-items: center; font-size: 30px;"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
    </div>
  </div>
</mat-list>